/* ---- CSS reset ---- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

p {
  margin: 0;
}

/* ---- layout ---- */

html,
body {
  height: 100%;
}

.container {
  margin: 0 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 2500px;
    margin: 0 auto;
  }
}

/* ---- components ---- */

.game,
.splash {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.game .canvas-container,
.splash .canvas-container {
  height: 100%;
  border: solid 4px red;
}
